<div class="card card-product" data-count="1" id="fancy">
	<div class="card-image" data-header-animation="false">
		<a href="#pablo"> <img class="img"
			src="../assets/img/rooms/kitchen.jpg">
		</a>
	</div>

	<div class="card-content">
		<h4 class="card-title">
			<a>Kitchen</a>
		</h4>
	</div>

	<div class="card-footer">
		<div class="stats">
			<div class="row">
					<div class="col-md-3">
						<i class="mdi mdi-thermometer-lines mdi-24px"></i>
					</div>
					<div class="col-md-7">
						<h4 class="title" style="margin-top: 0px;">
							{{temperature}}<sup>o</sup>C
						</h4>
					</div>
					<div class="col-md-2">
						<div class="togglebutton">
							<label></label>
							<div class="col-md-1"></div>
							<label></label> <label></label> <label></label> <label></label>
						</div>
					</div>

			</div>
		</div>
		<div class="stats">
			<div class="row">
				<div class="col-md-3">
					<i class="mdi mdi-lamp mdi-24px"></i>
				</div>
				<div class="col-md-7">
					<h4 class="title" style="margin-top: 0px;">Lamp</h4>
				</div>
				<div class="col-md-2">
					<div class="togglebutton">
						<label> <input type="checkbox" [checked]="isChecked"
							(click)="LampControll(2)" /></label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-3">
					<i *ngIf="!changeGasStatus" class="mdi mdi-radioactive mdi-24px"></i>
					<i *ngIf="changeGasStatus" class="mdi mdi-radioactive mdi-24px" style="color: crimson;"></i>
				</div>				
				<div class="col-md-7">
					<h4 class="title" style="margin-top: 0px;">Gas Status</h4>
				</div>
				<div class="col-md-2">
						<div class="togglebutton">
							<label></label>
							<div class="col-md-1"></div>
						</div>
					</div>
				
			</div>
<!-- 			<button (click)="check_animation()">Click me</button> -->
			
		</div>
	</div>
</div>