<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/rooms/logo.gif"/>
        </div>
        SMART HOUSE
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
