my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    min-height: 402px;
}

my-app .main-panel .main-content .card2{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    min-height: 200px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

/*.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}*/

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.product-item-2 .action-button {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid #f6f6f6;
  bottom: 0;
  opacity: 0;
  padding: 5px 25px;
  position: absolute;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
}
.product-item-2 .action-button > li > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.product-item-2 .action-button > li:hover > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ff7f00;
}
.product-item-2:hover {
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
  top: -20px;
}
.product-item-2:hover .product-info {
  border-radius: 0;
}
.product-item-2:hover .action-button {
  bottom: -36px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  opacity: 1;
  visibility: visible;
}

.action-button {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid #f6f6f6;
  bottom: 0;
  opacity: 0;
  padding: 5px 25px;
  position: absolute;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
}
.action-button > li > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.action-button > li:hover > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ff7f00;
}


.action-button {
  bottom: -36px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  opacity: 1;
  visibility: visible;
}


.pro-tab-menu-2 ul li {
  margin-left: 25px;
  position: relative;
}
.pro-tab-menu-2 ul li.active::before {
  background: #ff7f00 none repeat scroll 0 0;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 2px;
}
.pro-tab-menu-2 ul li.active a {
  border-bottom: 0 none;
}
.pro-tab-menu-2 ul li a {
  padding-left: 5px;
}


