<div class="card card-product" data-count="1">

	<div class="card-image" data-header-animation="false">
		<a href="#pablo"> <img class="img" src="../assets/img/rooms/bedroom1.jpg">
		</a>
	</div>

	<div class="card-content">
		<h4 class="card-title">
			<a href="#pablo">Parent Room</a>
		</h4>
	</div>

	<div class="card-footer">
		<div class="stats">
			<div class="row">
				<div class="col-md-3">
					<i class="mdi mdi-thermometer-lines mdi-24px"></i>
				</div>
				<div class="col-md-7">
					<h4 class="title" style="margin-top: 0px;">{{temperature}}<sup>o</sup>C</h4>
				</div>
				<div class="col-md-2">
                    <div class="togglebutton"> 
                    	<label></label> 
                        <div class="col-md-1"></div>
                        <label></label>
                        <label></label>
                        <label></label>
                        <label></label>
                    </div>
                	</div>
			</div>
		</div>
		<div class="stats">
			<div class="row">
				<div class="col-md-3">
					<i class="mdi mdi-lamp mdi-24px"></i>
				</div>
				<div class="col-md-7">
					<h4 class="title" style="margin-top: 0px;">Lamp</h4>
				</div>
				<div class="col-md-2">
					<div class="togglebutton">
						<label> <input type="checkbox" [checked]="isChecked" (click)="LampControll(2)"/></label>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="stats">
			<div class="row">
				<div class="col-md-3">
					<i class="mdi mdi-fan mdi-24px"></i>
				</div>
				<div class="col-md-7">
					<h4 class="title" style="margin-top: 0px;">Fan</h4>
				</div>
				<div class="col-md-2">
					<div class="togglebutton">
						<label> <input type="checkbox" [checked]="" (click)="FanControll()"/></label>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>