<footer>
    <div class="container-fluid">

        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a>EIU Smart Home </a>, by Pham Thi Doan Han - Nguyen Hoang Hieu - Nguyen Minh Thien
        </p>
    </div>
</footer>
