<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="card card-stats" style="min-height: 150px !important;">
					<div class="card-header" data-background-color="blue">
						<i class="material-icons">content_copy</i>
					</div>
					<div class="card-content">
						<a class="btn btn-primary btn-info" (click)="TurnOnAll()">Turn on all the lamps</a>
					</div>
					<div class="card-footer">
						<div class="stats">
							<h4> You can <strong> turn on </strong> all of lamps</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card card-stats" style="min-height: 150px !important;">
					<div class="card-header" data-background-color="red">
						<i class="material-icons">content_copy</i>
					</div>
					<div class="card-content">
						<a class="btn btn-primary btn-danger" (click)="TurnOffAll()">Turn off all the lights</a>

					</div>
					<div class="card-footer">
						<div class="stats">
							<h4> You can <strong>turn off</strong> all of lamps</h4>
						</div>
					</div>
				</div>
			</div>

		</div>



		<div class="row">
			<div class="col-lg-4 col-md-6">
				<livingroom [statusControll]="livingRoom_Lamp"></livingroom>
			</div>
			<div class="col-lg-4 col-md-6">
				<parent [statusControll]="parentRoom_Lamp"></parent>
			</div>
			<div class="col-lg-4 col-md-6">
				<children></children>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<kitchen></kitchen>
			</div>
			<div class="col-lg-4 col-md-6">
				<garden></garden>
			</div>
			<div class="col-lg-4 col-md-6">
				<garage></garage>
			</div>

		</div>
	</div>
</div>